<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2XZ5_faxvS5ChgA8-oo8TOFvL1vwgups</string>
	<key>GCM_SENDER_ID</key>
	<string>199597509310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esimapp.appname</string>
	<key>PROJECT_ID</key>
	<string>awinstconnect-1cefb</string>
	<key>STORAGE_BUCKET</key>
	<string>awinstconnect-1cefb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199597509310:ios:fcb6eb24f83be35b852cef</string>
</dict>
</plist>